{
	"presets": ["es2015", "stage-2"],
	"plugins": [
		["module-resolver", {
			"root": ["./src"],
			"alias": { "commands": "./commands" }
		}]
	],
	"env": {
	    "test": {
			"plugins": ["istanbul"]
		}
	}
}
